[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
watching-testrunner = "*"

[packages]
ipython = "*"
jupyterlab = "*"
matplotlib = "*"
pandas = "*"
requests = "*"
seaborn = "*"
pytest = "*"
sqlalchemy = "*"
psycopg = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"
